<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
		<meta charset="ISO-8859-1">
		<meta charset="UTF-8">
		<meta name="author" content="Sabina Johnson/Alex Waters">
		<meta name="description" content="Vacation Planner">
		<meta name="keywords" content="vacation">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<!--
					Final Java Project - Vacation Planner(Triply)
					November 10, 2022
				-->
				
				<!--Bootstrap link-->
				<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
				
				<!--link to style sheets-->
				<link rel="stylesheet" th:href="@{/css/style.css}">
<title>My Activities</title>
</head>
	<style>
	
		.label {
		background: #22577a;
		}
	
	</style>
<body>
<header>
<!-- Navigation -->
			<nav class="navbar navbar-expand-lg navbar-light">
			  <a class="navbar-brand" href="/"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#22577a" class="bi bi-bag-fill" viewBox="0 0 16 16">
	  			<path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z"/>
				</svg> Triply</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
				  <a class="nav-item nav-link" href="/">Home</a>
				  <a class="nav-item nav-link" href="/vacations/new">Plan Your Trip</a>
				  <a class="nav-item nav-link" href="/vacations">My Trips</a>
				  <a class="nav-item nav-link" href="destination">Destinations</a>
				</div>
			  </div>
			</nav>
			<!-- Navigation -->
	</header>
<form>
<!--  Page Header -->
	<div class="container">
		<div class="row form">
			<div class="col-lg">
				<h1>My Activities</h1>
			</div>
		</div>
	</div>

<div class="container">
		<div class="row form">
			<div class="col-lg">
				<table class="table">
					<thead class="label">
						<tr>
							<th scope="col" style="color: white;">Name</th>
							<th scope="col" style="color: white;">Date</th>
							<th scope="col" style="color: white;">Description</th>
							<th scope="col" style="color: white;">Edit</th>
							<th scope="col" style="color: white;">Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<tr th:each="currentActivities : ${activities}">
							<td th:text="${currentActivities.name}" />
							<td th:text="${currentActivities.date}" />
							<td th:text="${currentActivities.description}" />
						<td><a
							th:href="@{/myActivities/{id}(id=${currentActivities.id})}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
  							<path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
						</svg></a></td>
						<td><a
							th:href="@{/myActivities/delete/{id}(id=${currentActivities.id})}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
  							<path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
						</svg></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row form">
			<div class="col-lg">
				<a class="btn btn-success" href="/myActivities/new" role="button">ADD ACTIVITIES</a>
			</div>
		</div>
	</div>

</form>
</body>
</html>